<h3 style="text-align: center;">"Listar los mensajes puestos en el año 2020 y que no han tenido respuesta"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Usuario</th>
            <th>Mensaje</th>
            <th>Fecha</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.user.name}}</td>
                <td>{{row.message}}</td>
                <td>{{row.date}}</td>
            </tr>
        </tbody>
    </table>
</div>