<h3 style="text-align: center;">"Encontrar los usuarios que tienen mas seguidores que el promedio de seguidores que tienen
    los usuarios"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Usuario</th>
            <th>Seguidores</th>
            <th>Promedio</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.name}}</td>
                <td>{{row.seguidores}}</td>
                <td>{{row.promedio}}</td>
            </tr>
        </tbody>
    </table>
</div>