<h3 style="text-align: center;">"Encontrar para cada mes del año 2020, el(los) usuarios que escribieron la mayor cantidad de
    mensajes"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Mes</th>
            <th>Mayor Cantidad Mensajes</th>
            <th>Usuarios</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row._id.month}}</td>
                <td>{{row.maxValue}}</td>
                <td *ngFor="let user of row.users"><span>{{user.username}}</span></td>
            </tr>
        </tbody>
    </table>
</div>