<h3 style="text-align: center;">"Listar los mensajes puestos en el año 2020 y que tienen 10 o más re-envíos (puede
    cambiar el año y la cantidad por números que se adecuen a los datos que tiene cargados)
    "</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Mensajes</th>
            <th>Número de Replicas</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row._id.message}}</td>
                <td>{{row.numberReplicates}}</td>
            </tr>
        </tbody>
    </table>
</div>