<h3 style="text-align: center;">"Encontrar el (los) usuario(s) que tiene(n) el mayor número de seguidores"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Usuario</th>
            <th>Seguidores</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.name}}</td>
                <td>{{row.seguidores}}</td>
            </tr>
        </tbody>
    </table>
</div>