<h3 style="text-align: center;">"Encontrar para cada usuario el promedio de mensajes que escribe por mes"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Usuario</th>
            <th>Promedio</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row._id}}</td>
                <td>{{row.promedio}}</td>
            </tr>
        </tbody>
    </table>
</div>