<h3 style="text-align: center;">"Encontrar el usuario que tiene mayor promedio en la cantidad de reenvío (re-tweets) de sus
    mensajes"</h3>
<div class="col s8">
    <table>
        <thead>
            <th>Nombre</th>
            <th>Promedio</th>
            <th>Reenviados</th>
            <th>Total</th>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td>{{row.nombre}} ({{row.usuario}})</td>
                <td>{{row.promedio}}</td>
                <td>{{row.reenviados}}</td>
                <td>{{row.total}}</td>
            </tr>
        </tbody>
    </table>
</div>